@{
    ViewData["Title"] = "Calender";
}

<div id="calendar">
</div>


@section scripts {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
    <style>
        #calendar {
            max-width: 700px;
            margin: 0 auto;
            border: none;
            border-radius: 5px;
        }

    </style>
    <script>
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next Today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                selectable: true,
                select: function (start, end) {
                    var title = prompt('Enter a description for this day:');
                    if (title) {
                        var eventData = {
                            title: title,
                            start: start,
                            end: end
                        };
                        $('#calendar').fullCalendar('renderEvent', eventData, true);
                    }
                    $('#calendar').fullCalendar('unselect');
                },
                editable: true,
                events: '@Url.Action("GetCalendarEvents", "Home")'
            });
        });
    </script>
}