@{
    ViewData["Title"] = "EmployeeLogin";
    string errorMessage = ViewBag.ErrorMessage;
}
<section class="vh-200" style="background-color: #9A616D;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="https://www.tietoevry.com/globalassets/brandportal/web-image-library/womanstanding-laptop-phoneoffice_1.jpg?width=450&height=492&mode=crop"
                                 alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-3 col-lg-1 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form method="post" action="/Login/EmployeeLogin">
                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        @*<i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>*@
                                        @*<span class="h1 fw-bold mb-0">Logo</span>*@
                                        <img src="https://mb.cision.com/Public/18959/3488514/8b56ffb305d960f5_org.png" style="height:50px;width:290px" />
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                                    <div class="form-outline mb-4">
                                        <input type="text" id="username" name="username"  placeholder="username" required class="form-control form-control-lg" />
                                        @*<label class="form-label" for="form2Example17">Email address</label>*@
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="password" id="password" name="password" placeholder="password" required class="form-control form-control-lg" />
                                        @*<label class="form-label" for="form2Example27">Password</label>*@
                                    </div>

                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block" type="submit" value="Login">Login</button>
                                     <br />
                                        @if (ViewData["ValidateMessage"] != null)
                                        {
                                            <label class="text-danger" style="margin-left:30px">@ViewData["ValidateMessage"] </label>
                                            <div class="text-danger" style="color:red">@errorMessage</div>
                                        }
                                    </div>
                                   
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>