@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}


<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        .lead {
            color: #f00;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">An Error Occurred</h1>
        <p class="lead">@ViewBag.ExceptionMessage</p>

    </div>
   
</body>
</html>


