@model Employee_timesheet.Models.Task

@{
    ViewData["Title"] = "Edit";
}



<h4>Edit Task Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TaskId" />
            <div class="form-group" style="padding-top:5px;">
                <label asp-for="TaskName" class="control-label">Task Name</label>
                <input asp-for="TaskName" class="form-control" />
                <span asp-validation-for="TaskName" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding-top:15px;">
                <label asp-for="ProjectId" class="control-label">Projects</label>
                @*<select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectName"></select>*@
                <select asp-for="ProjectId" class="form-control" id="projectId">
                    @foreach (var task in ViewBag.Project)
                    {
                        @if (task.ProjectId != "PRO000")
                        {
                            <option value="@task.ProjectId">@task.ProjectName</option>

                        }
                    }
                </select>
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding-top:15px;">
                <input type="submit" value="Save" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style="font-size:30px" class="text-warning"><i class="fa-solid fa-backward"></i></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
